#map-designer {
  height: 100%;
  width: 100%;
  position: relative;
}
.map-container {
  height: calc(100% - 30px);
  width: 100%;
  bottom: 0;
}
#toolbar {
  overflow: auto;
  padding: 0.5em;
  width: 100%;
  top: 0;
}
